.pagination__wrapper{
    @apply flex items-start my-6;

    .v-pagination__prev{
        @apply hidden;
    }

    .v-pagination__item, .v-pagination__next{
        @apply size-7 text-center flex items-center justify-center rounded-[5px] border border-secondary-clr text-secondary-clr;
    }

    .v-pagination__item--is-active {
        @apply  bg-secondary-clr  text-white;
        .v-btn__overlay,.v-btn__underlay{
            @apply hidden
        }
    }
}